@media only screen and (max-width: 900px) {
    .circle-avg {
      padding-top: 70px;
      color: #6E6E6E;
    }
  }

  @media only screen and (max-width: 900px) {
  
 .circle {
        /* padding-right: 50px; */
        border-radius: 50%;
        width: 100px;
        height: 100px;
        /* padding: 10px; */
        background: #E3E3E3;
        border: 7px solid #707070;
        color: #2BC62B;
        text-align: center;
        font: 32px Arial, sans-serif;
        padding-top: 24px;
        // padding-left: 9px;
      }
    }
  
  
  
  
  
  .circle-avg {
    color: #6E6E6E;
    // padding-top: 18px;
    // padding-left: 80px;
      
    }

    h1.circle {
      border-radius: 50%;
        width: 100px;
        height: 100px;
        /* padding: 10px; */
        background: #E3E3E3;
        border: 7px solid #707070;
        color: #2BC62B;
        text-align: center;
        font: 32px Arial, sans-serif;
        padding-top: 24px;
  }
  