.autoanalytics {
    background-color: #343434;
    padding-top: 13em;
    height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: center;

}

.login {
    padding-top: 8em;
}

.login button {
    width: 8.5em;
    height: 3em;
    border-radius: 2em;
    color: #FFFFFF;
    background-color: #4525F2;

}

.account {
    color: #FFFFFF;

    // display: inline-flex;
    a {
        color: #FFFFFF;
    }
}